@mixin breakpoint($class) {
  @if $class == sm {
    @media (min-width: 970px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#main-wrapper {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include breakpoint(sm) {
    flex-direction: row;
    align-items: stretch;
  }

  .board-container {
    width: 95%;
    position: relative;
    @include breakpoint(sm) {
      width: 50%;
    }

    .board-wrapper {
      border: 10px solid #eee;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .board-container:after {
    content: "";
    display: block;
    padding-top: 100%;
  }

  .player-container {
    width: 100%;
    @include breakpoint(sm) {
      width: 50%;
    }
  }
}

body {
  font-family: 'Roboto Slab', serif;
}

#current-player {
  text-align: center;
  margin: 5px auto 8px auto;

  p {
    margin: 0;
    font-size: 2em;
    @include breakpoint(sm) {
      font-size: 3em;
      margin-bottom: 80px;
    }
  }
}

#board,
#tile-board {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#tile-board {
  position: absolute;
  top: 0;
  background: transparent;
  left: 0;

  .tile-space {
    cursor: pointer;
    @include breakpoint(sm) {
      border: 3px solid transparent;
    }

    &:hover {
      @include breakpoint(sm) {
        border: 3px solid #ff00ff;
      }
    }

    div {
      background: antiquewhite;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: .75em;
      position: relative;
      box-shadow: 2px 1px 2px 2px rgba(0,0,0,.5);
      @include breakpoint(sm) {
        font-size: 2.5em;
      }

      .points {
        position: absolute;
        top: 1px;
        right: 2px;
        font-size: .1em;
        display: block;
        @include breakpoint(sm) {
          top: 2px;
          right: 4px;
          font-size: .2em;
        }
      }
    }
  }
}

.space {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 6.6667%;;
  font-size: .4em;
  height: 6.6667%;
}

.space.dl {
  background: #3399cc;
}
.space.tw {
  background: #ff0000;
}
.space.tl {
  background: #ffff00;
}
.space.dw {
  background: #33cc99;
}
.space.star {
  background: #ff0000;
}

button {
  margin: 0 auto;
  display: block;
  width: auto;
  -webkit-appearance: none;
  border: 2px solid #000;
  cursor: pointer;
  height: 20px;
  background: #fff;
}

button:focus {
  outline: 0;
}

.button {
  height: 24px;
  margin-bottom: 8px;
  @include breakpoint(sm) {
    margin-bottom: 40px;
    height: 50px;

    button {
      font-size: .875em;
      height: 30px;
    }
  }
}

#letter-bag {
  margin-top: 100px;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#letter-bag .letter {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  margin: 5px;
  position: relative;
}

#tile-shelf,
#tile-shelf-two {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  .letter {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #000;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    font-size: .75em;
    @include breakpoint(sm) {
      height: 50px;
      width: 50px;
      font-size: 1em;
    }

    .points {
      position: absolute;
      top: 1px;
      right: 2px;
      font-size: .1em;
      display: block;
      @include breakpoint(sm) {
        top: 2px;
        right: 4px;
        font-size: .2em;
      }
    }
  }
}

#tile-shelf-two {
  display: none;
}

#messaging {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  font-size: .675em;
  text-transform: uppercase;
  letter-spacing: .09em;
  padding-top: 20px;
}

#word {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  letter-spacing: .25em;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 20px;
}
